@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #171717;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
header {
  background: var(--background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  /* backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background: rgba(0, 0, 0, 0.83);  */
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.blur_drop_down {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.88);
}
.text-logo {
  background: linear-gradient(to top, #7a7a7a, #d6d6d6);

  /* 2. Обрезаем фон по форме букв (нужен префикс -webkit-) */
  -webkit-background-clip: text;
  background-clip: text;

  /* 3. Делаем сам текст прозрачным, чтобы сквозь него был виден фон */
  color: transparent;
}

.nav-item {
  color: #a1a1a1;
  /* Плавный переход для всех свойств (цвета и тени) */
  transition: all 0.3s ease-in;
  text-decoration: none;
}

.nav-item:hover {
  color: white;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.582));
  transition: all 0.3s ease-out;
}

.shown-text-btn {
  /* color: #a1a1a1; */
  transition: all 0.3s ease-in;
  text-decoration: none;
}

.shown-text-btn:hover {
  color: white;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.582));
  transition: all 0.3s ease-out;
}

@keyframes slide-down {
  from {
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
  }
  to {
    transform: scaleY(0.99);
    transform-origin: top;
    opacity: 1;
  }
}

.slide-bottom {
  animation: both 0.5s slide-bottom;
  -webkit-animation: slide-bottom 0.5s both;
  animation: slide-bottom 0.5s both;
}

.text-shadow {
  -webkit-box-shadow: 0px 0px 51px 0px rgba(255, 255, 255, 0.97);
  -moz-box-shadow: 0px 0px 51px 0px rgba(255, 255, 255, 0.97);
  box-shadow: 0px 0px 51px 0px rgba(255, 255, 255, 0.97);
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0 rgba(255,255,255,0);
  }
  50% {
    box-shadow: 0 0 10px rgba(255,255,255,0.9);
  }
  100% {
    box-shadow: 0 0 0 rgba(255,255,255,0);
  }
}

.animate-glow {
  animation: glow 1.5s infinite;
}

.shimmer-text {
  background: linear-gradient(
    to left,
    #acacad 20%,
    #ffffff 30%,
    #ffffff 50%,
    #acacad 100%
  );
  background-size: 200% auto;
  
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shimmer 5s linear infinite;
}

@keyframes shimmer {
  to {
    background-position: 200% center;
  }
}